services:
  discovery-server:
    build:
      context: ./server
      dockerfile: ../docker/discovery-server.Dockerfile
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      retries: 5
      start_period: 30s
    networks:
      - timer-net
    restart: unless-stopped

  api-gateway:
    build:
      context: ./server
      dockerfile: ../docker/api-gateway.Dockerfile
    ports:
      - "8080:8080"
    environment:
      - EUREKA_URI=http://discovery-server:8761/eureka/
    depends_on:
      client:
        condition: service_started
    networks:
      - timer-net
    restart: unless-stopped

  api-service:
    build:
      context: ./server
      dockerfile: ../docker/api-service.Dockerfile
    expose:
      - "5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/v1/actuator/health"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    depends_on:
      rdb:
        condition: service_healthy
      imdb:
        condition: service_healthy
    networks:
      - timer-net
    restart: unless-stopped

  sync-service:
    build:
      context: ./server
      dockerfile: ../docker/sync-service.Dockerfile
    expose:
      - "5500"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5500/sync/v1/actuator/health"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    depends_on:
      api-service:
        condition: service_healthy
      imdb:
        condition: service_healthy
    networks:
      - timer-net
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: ../docker/client.Dockerfile
    expose:
      - "3000"
    depends_on:
      api-service:
        condition: service_healthy
      sync-service:
        condition: service_healthy
    networks:
      - timer-net
    restart: unless-stopped

  rdb:
    image: postgres:alpine
    expose:
      - "5432"
    environment:
      POSTGRES_USER: timer
      POSTGRES_PASSWORD: timer1!
      POSTGRES_DB: timer
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U timer -d timer"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    networks:
      - timer-net
    restart: unless-stopped

  imdb:
    image: redis:alpine
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    expose:
      - "6379"
    networks:
      - timer-net
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./docker/configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - timer-net
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./docker/configs/grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - timer-net
    restart: unless-stopped

networks:
  timer-net:
    driver: bridge