services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      api-server:
        condition: service_healthy
        restart: true
      realtime-server:
        condition: service_healthy
        restart: true

  api-server:
    build: 
      context: ./api-server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    healthcheck:
      test: "curl --fail --silent localhost:5000/api/v1/actuator/health | grep UP || exit 1"
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    networks:
      - timer-net
    depends_on:
      rdb:
        condition: service_healthy
        restart: true
      imdb:
        condition: service_started
  
  realtime-server:
    build:
      context: ./realtime-server
      dockerfile: Dockerfile
    healthcheck:
      test: "curl --fail --silent localhost:5500/event/v1/actuator/health | grep UP || exit 1"
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    ports:
      - "5500:5500"
    networks:
      - timer-net
    depends_on:
      imdb:
        condition: service_started
      
  rdb:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: timer
      POSTGRES_PASSWORD: timer1!
      POSTGRES_DB: timer
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U timer -d timer"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    networks:
      - timer-net

  imdb:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - timer-net
    
networks:
  timer-net:
    driver: bridge