server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: api-service
          uri: lb://api-service
          predicates:
            - Path=/api/**
          order: 1
        - id: sync-service
          uri: lb://sync-service
          predicates:
            - Path=/sync/**
          order: 2
        - id: client
          uri: http://client:3000
          predicates:
            - Path=/**
          order: 1000
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
